
h2{
	font-size: 2em;
}
h3 {
	font-weight: bold;
	font-size: 3em;
}

p{
	font-size: 1.5em;
}

/*************************************************************/
/******* banner Portland Roadside Architecture ***************/
/*************************************************************/
#pInPortland {
	font-size: 4em;
}

.banner {
	font-size: 2.75em;
	text-align: left;
}

/*************************************************************/
/************* content sections *******************************/
/*************************************************************/

.firstLetter {
	font-size: 2.5em;
	color: #f4bc05;
}

img {
	display: flex;
	align-content: space-around;
	border: solid 2px white;
	border-radius: 12%;
	max-width: 95%;
	margin: auto;
	align-self: center;
}

img + p{
	text-align: center;
}

/*************************************************************/
/************* contact section *******************************/
/*************************************************************/
input{
	font-size: 1.5em;
}

input[type="radio"]{
	min-height: 20px;
	min-width: 20px;
}

label{
	font-size: 1.5em;
}

input[type="checkbox"]{
	min-height: 20px;
	min-width: 20px;
}

.contactSpan{
	font-size: 1.5em;
}

.button{
    display: inline-block;
    max-width: 45%;
    font-size: 1.5em;
    margin: .25em .25em;
    padding: 20px;
}

#emailDisclaimer{
	font-size: 1em;
}

#contactSection{
	width: 100%;
}

/*************************************************************/
/**************** scroll arrow *******************************/
/*************************************************************/
#scrollArrow{
  	font-size: 1.25em;
	color: #F4bC05;
    opacity: .8;
	position: fixed;
	top: 8%;
	right: 10%;
	text-decoration: underline;
}