h2{
	font-size: 2.5em;
}
h3 {
	font-weight: bold;
	font-size: 3em;
}

/*************************************************************/
/******* banner Portland Roadside Architecture ***************/
/*************************************************************/
.bannerParent{
	max-width: 75%;
	border-bottom: 3px solid white;
	margin-bottom: 2em;
	transition: border 1s ease;
}

.bannerParent:hover{
	cursor: pointer;
	cursor: hand;
	border-bottom-color: #F4bC05;
}

.bannerParent:visited{
	border-bottom-color:#fff;
}

#pInPortland {
	font-size: 5em;
}

.banner {
	font-size: 4.5em;
	text-align: left;
}

/*************************************************************/
/************* content sections *******************************/
/*************************************************************/
.firstLetter {
	font-size: 3em;
	color: #f4bc05;
}

img {
	display: flex;
	align-content: space-around;
	border: solid 2px white;
	border-radius: 12%;
	min-width: 270px;
	min-height:270px;
	margin: auto;
}

img + p{
	text-align: center;
}

p {
    font-size: 2em;
}

/*************************************************************/
/************* contact section *******************************/
/*************************************************************/

input{
	font-size: 2.5em;
}

input[type="radio"]{
	min-height: 30px;
	min-width: 30px;
}

label{
	font-size: 2.5em;
}

input[type="checkbox"]{
	min-height: 30px;
	min-width: 30px;
}

.contactSpan{
	font-size: 2.5em;
}

.button{
    display: inline-block;
    max-width: 45%;
    font-size: 2.5em;
    margin: 1em 1em;
    padding: 20px;
}

/*************************************************************/
/**************** scroll arrow *******************************/
/*************************************************************/
#scrollArrow{
  	font-size: 2em;
	color: #F4bC05;
    opacity: .8;
	position: fixed;
	bottom: 25px;
	right: 40px;
	text-decoration: underline;
}